<p id="notice"><%= notice %></p>

<h1>Your Money!</h1>

<p>Current number of transactions: <%= @exchanges.count%></p>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Payee</th>
      <th>Credits</th>
      <th>Debits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.description %></td>
        <td><%= exchange.payee %></td>
        <td><%= number_to_currency(exchange.credits) %></td>
        <td><%= number_to_currency(exchange.debits) %></td>
        <td><%= link_to 'Show', exchange %></td>
        <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> Number of Current Month Transactions: <%= @exchanges.current_month.count %>
<br>

<%= link_to 'New Exchange', new_exchange_path %>
