<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exchange.description %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @exchange.payee %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @exchange.credits %>
</p>

<p>
  <strong>Debits:</strong>
  <%= @exchange.debits %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
